<button mat-button [routerLink]="['/add']">Add</button>
<button mat-button (click)="toggleFilterIsDone(true)">Done</button>
<button mat-button  (click)="toggleFilterIsDone(false)">Undone</button>
<button mat-button  (click)="toggleFilterIsDone(null)">All</button>

<ul>
  <li *ngFor="let todo of todos">
    {{todo.name}}
    <button mat-stroked-button color="warn" (click)="removeTodo(todo)" class="deleteBtn">Delete</button>
    <button mat-stroked-button *ngIf="!todo.isDone" (click)="toggleIsDone(todo)" class="unDoneBtn">Undone</button>
    <button mat-stroked-button color="primary" *ngIf="todo.isDone" (click)="toggleIsDone(todo)" class="doneBtn">Done</button>
  </li>
</ul>