@import url('https://fonts.googleapis.com/css?family=Open+Sans');
mat-grid-tile {
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
}
/* mat-grid-tile {
  background: rgb(252, 252, 252);
} */

li {list-style-type: none;}